[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/CallMeTerry-ZED/glfw.git
	branch = master
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/CallMeTerry-ZED/glm.git
	branch = master
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/CallMeTerry-ZED/imgui.git
	branch = docking