[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/CallMeTerry-ZED/glfw.git
	branch = master
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/CallMeTerry-ZED/glm.git
	branch = master
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/CallMeTerry-ZED/imgui.git
	branch = docking
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/CallMeTerry-ZED/spdlog.git
	branch = v1.x
[submodule "thirdparty/sol2"]
	path = thirdparty/sol2
	url = https://github.com/CallMeTerry-ZED/sol2.git
	branch = develop
[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = https://github.com/CallMeTerry-ZED/lua.git
	branch = master